[submodule "libs/DeepGlobalRegistration"]
	path = src/libs/libs/DeepGlobalRegistration
	url = https://github.com/chrischoy/DeepGlobalRegistration.git
[submodule "libs/MinkowskiEngine"]
	path = src/libs/libs/MinkowskiEngine
	url = https://github.com/NVIDIA/MinkowskiEngine.git
[submodule "src/libs/libs/pointnet2"]
	path = src/libs/libs/pointnet2
	url = https://github.com/charlesq34/pointnet2.git
